@{
    ViewBag.Title = "Home Page";
}
<center><h1>Let's Play A Super Fun Game Of Marbles!</h1></center>
<center><h3>Add a color to the bag, then choose a random marble from the bag and see it is the same one.<br /> If so, you win!</h3></center>

<br />
<br />

<div class="row">
    <div class="col-md-6">
        <input class="textbox" type="text" name="color" value="" id="newMarbleColor" />
        <button class="btn" onclick="talkToServer();"> Add a color to the bag</button>
    </div>
    <div class="col-md-6">
        <button class="btn" onclick="talkToServer();"> Select a random marble</button>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <ul id="marbleList"></ul>
    </div>
    <div class="col-md-6">
        <ul id="randomMarble"></ul>
    </div>
</div>
<br />